#login-form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-text {
  background-color: #1a1a1a;
  padding: 1em;
  border: none;
  border-radius: 5px;
  color: rgba(154, 136, 102, 1);
  width: 50%;
  max-width: 260px;
  outline-style: none;
  font-family: "Raleway", sans-serif;
  margin-bottom: 15px;
}

.input-submit {
  background-color: #1a1a1a;
  padding: 1em;
  border: none;
  border-radius: 5px;
  color: rgba(154, 136, 102, 1);
  width: auto;
  outline-style: none;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}

#messages {
  display: none;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.message {
  background-color: #1a1a1a;
  padding: 1em;
  border-radius: 5px;
  min-width: 200px;
  max-width: 400px;
  margin: 15px;
}
