.items {
  width: auto;
  padding: 50px;
}

.item {
  width: 60vh;
  position: relative;
  flex: 1 1 auto;
  margin-bottom: 60px;
}

.item_card {
  display: flex;
  margin: 20px auto;
  position: relative;
  margin-bottom: 60px;
  margin-top: 60px;
  border-bottom: 1px solid rgba(154, 136, 102, 0.5);
}

.title {
  text-align: left;
  margin-bottom: 30px;
}

.price-container {
  display: flex;
  margin: 10px 0;
}

.price-block {
  margin-bottom: 10px;
  padding-right: 50px;
  font-family: "Rajdhani", sans-serif;
}

.price {
  font-family: "Rajdhani", sans-serif;
  color: white;
}

.updated-block {
  margin-bottom: 10px;
  font-size: 0.8rem;
}

.img-content {
  position: relative;
  padding-left: 20px;
  width: 20vh;
}

.icon {
  position: absolute;
  right: 7px;
  top: 7px;
  width: 70px;
  height: auto;
}

.back {
  width: 100%;
  height: auto;
  max-height: 200px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

/* formulaire */

form {
  margin: auto;
  width: 50%;
}

.input-text {
  background-color: #1A1A1A;
  padding: 1em;
  border: none;
  border-radius: 5px;
  color: rgba(154, 136, 102, 1);
  width: 70%;
  outline-style: none;
  font-family: "Raleway", sans-serif;
}

.input-submit {
  background-color: #1A1A1A;
  padding: 1em;
  border: none;
  border-radius: 5px;
  color: rgba(154, 136, 102, 1);
  width: auto;
  outline-style: none;
  font-family: "Raleway", sans-serif;
}
